<html>
    <head>
        <title>GYM</title>

        <link rel="stylesheet" href="static/gym.css">
    </head>
    <body>
        <img class="land-img" src="static/images/big-img3.jpg" alt="">
        <nav class="nav">
            <div class="logo-con">
                <a class="logo" href="#" >Fitness First GYM </a>
            </div>

            <div class="nav-con">
                <ul>
                    <li class="nav-items"> <a class="links" href="#">Home</a> </li>
                    <li class="nav-items"> <a class="links" href="#">About Us</a> </li>
                    <li class="nav-items"> <a class="links" href="#">Services</a> </li>
                    <li class="nav-items"> <a class="links" href="#">Shop</a> </li>
                    <li class="nav-items"> <a class="links" href="#">Contact</a> </li>
                </ul>

            </div>


        </nav>
                <div class="land-con">
            <div class="text-con">
                <h1 class="large-txt">START STRONG. START BOLD. <span style="color: rgb(255, 102, 0);">FITNESS FIRST GYM.</span> </h1>
                <p class="small-txt-bold">Fitness First Gym is a leading GYM in town. With increasing number of members and trainers with a range of classes to attend.</p>


                <br>
                <a href="{{url_for('register')}}" class="btn-txt">Get Started</a>

            </div>
        </div>

        <div class="about-us">
            <h1 class="small-header">About Us</h1>
            <div class="center_tile">
                <hr class="head-line">
            </div>
            <div class="small-txt-con">
                <p class="small-txt">"Fitness First Gym" is a renowned fitness center dedicated to promoting health, wellness, and fitness among its members.
                    The gym offers a comprehensive range of facilities, training programs, and expert guidance to help individuals achieve their fitness goals.</p>
                <p class="small-txt">The website's homepage showcases a dynamic and inviting layout, featuring vibrant images of the gym's state-of-the-art facilities, diverse fitness programs, and a motivating environment.
                    It highlights the gym's mission statement, emphasizing its commitment to helping members lead healthier lifestyles.</p>
                <br>
                <br>
                <a href="#" class="btn-txt3">Learn More</a>
            </div>

        </div>
        <br>

        <h1 style="text-align: center;" class="small-header">PACKAGES</h1>
        <div class="center_tile">
            <hr class="head-line">
        </div>
        <div class="packages-container">
            <div class="package">
                <h2>Standard Package</h2>
                <p class="package-price">$30/month</p>
                <ul class="benefits-list">
                    <li>Access to gym facilities</li>
                    <li>Personal trainer assistance</li>
                    <li>Regular fitness assessments</li>
                    <li>24/7 access to gym</li>
                </ul>
                <a href="/register" class="subscribe-link">Subscribe</a>
            </div>
            <div class="package">
                <!-- Package details -->
                <h2>Diamond Package</h2>
                <p class="package-price">$150/month</p>
                <ul class="benefits-list">
                    <li>Full gym and spa access</li>
                    <li>Exclusive fitness classes</li>
                    <li>Personalized diet plans</li>
                    <li>Acess to VIP sections</li>
                    <li>24/7 access to gym</li>
                </ul>
                <a href="/register" class="subscribe-link">Subscribe</a>
            </div>
            <div class="package">
                <!-- Package details -->
                <h2>Premium Package</h2>
                <p class="package-price">$50/month</p>
                <ul class="benefits-list">
                    <li>Full gym access</li>
                    <li>Exclusive fitness classes</li>
                    <li>Personalized diet plans</li>
                    <li>24/7 access to gym</li>
                </ul>
                <a href="/register" class="subscribe-link">Subscribe</a>
            </div>
            <!-- Add more package details -->
        </div>
        <div class="trainer">
            <h1 class="small-header">Our Trainers</h1>
            <div class="center_tile">
                <hr class="head-line">
            </div>
            <br>
            <br>

            <div class="team-con">
                <div class="big-6">
                    <h1 class="t6">6</h1>
                    <h2 class="t6-small">Professional Trainers on our team</h2>
                </div>

                <div class="pfp-con">
                    <div class="pfp-row">
                        <div class="container">
                            <img src="static/gymImg/gym1.png" alt="Avatar" class="pfp1 packages">
                            <div class="overlay">
                            </div>
                            <div class="text"><h4>Brent Faiyaz</h4><p>Trainer</p></div>
                          </div>

                          <div class="container">
                            <img src="static/gymImg/gym5.jpg" alt="Avatar" class="pfp2 packages">
                            <div class="overlay">
                            </div>
                            <div class="text"><h4>Alanna Kendrick</h4><p>Trainer</p></div>
                          </div>

                          <div class="container">
                            <img src="static/gymImg/gym3.jpg" alt="Avatar" class="pfp3 packages">
                            <div class="overlay">
                            </div>
                            <div class="text"><h4>Huey Morris</h4><p>Trainer</p></div>
                          </div>

                          <div class="container">
                            <img src="static/gymImg/gym6.jpg" alt="Avatar" class="pfp4 packages">
                            <div class="overlay">
                            </div>
                            <div class="text"><h4>Sarah Evans </h4><p>Trainer</p></div>
                          </div>

                          <div class="container">
                            <img src="static/gymImg/gym7.png" alt="Avatar" class="pfp5 packages">
                            <div class="overlay">
                            </div>
                            <div class="text"><h4> Gavin Norton</h4><p>Trainer</p></div>
                          </div>

                          <div class="container">
                            <img src="static/gymImg/gym8.jpg" alt="Avatar" class="pfp6 packages">
                            <div class="overlay">
                            </div>
                            <div class="text"><h4>Sean Patel</h4><p>Trainer</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <h1 class="small-header">Contact Us</h1>
            <div class="center_tile">
                <hr class="head-line">
            </div>
            <br>
            <br>

            <div id="form-con">
                <form>
                <input type="email" class="form" placeholder="Email id"><p>
                <br>
                <input type="text" class="form" placeholder="Address"><p>
                <br>
                <input type="text" class="form" placeholder="Phone Number"><p>
                <br>
                <input type="text" class="form-big" placeholder="Type Something...." ><p>
                <br>
                <input id="submit" type="submit" value="register">
                
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
    </body>
</html>